{% load static %}
<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta name="google-site-verification" content="luXTTOD5Ig1DKeC8aNHMkfXneUP1CFq1MD1aio6d51E" />
        <meta charset="UTF-8">
        <title>Сайт по продаже ботов</title>
        <link href="https://fonts.googleapis.com/css?family=Montserrat:100,400,400i,500,500i,700,700i,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="all">
            <div class="header">
                <div class="container">
                    <div class="header_flex">
                        <div class="header_logo">
                            <a href="#">
                                <img src="{{MEDIA_URL}}logo.png" alt="logo" style="width: 20%;">
                            </a>
                        </div>
                        <nav class="header_nav">
                            <a class="header_nav_item" href="{% url 'post_list' %}#sell">Купить бота</a>
                            <a class="header_nav_item" href="{% url 'post_list' %}#bot_take">Получение бота</a>
                            <a class="header_nav_item" href="{% url 'post_list' %}#other">Дополнительно</a>
                            <div class="dropdown dropright" style="margin-top:-5px; ">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background: rgb(33,133,208); border-color: rgb(33,133,208); font-weight: bold">
                                    Контакты
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                   <button class="dropdown-item" type="button" style="font-weight: bold;"><a href="https://t.me/LimiO_ananas" style="text-decoration: none;">Telegram</a></button>
                                   <button class="dropdown-item" type="button" style="font-weight: bold;"><a href="https://vk.com/vagizov98" style="text-decoration: none;">Вконтакте</a></button>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div> 

             
        
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="container">
                <div class="about_project">
                    <div class="about_project_item">
                        Сайт создан <a href="https://vk.com/vagizov98" class="about_project_link">Искандером</a> и <a href="https://t.me/LimiO_ananas" class="about_project_link">Альбертом</a> в 2019 году
                        <br>
                        <br>
                        Альберт - front-end и разработка ботов
                        <br>
                        Искандер - back-end и разработка ботов
                    </div>
                    <div class="about_project_item">
                        По поводу обсуждения дополнительных функций для бота или написания нового, обращаться в телеграм <a href="https://t.me/LimiO_ananas" class="about_project_link">@LimiO_ananas</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>