
{% extends 'blog/base.html' %}

{% block content %}

        <!-- div class="info_bot_1">
            <div class="container">
                <div class="our_bots">
                    {{ post.title }}
                </div>
                <div class="bot_info_1_text">
                <a href="#" style="text-decoration: none;">
                    {{ post.text|linebreaksbr }}
                        <div class="bot_info_1_text_button">просмотреть бота</div>
                  
                </a>

                </div> -->
                <div class="info_bot_1" >
                    <div class="container flex_direc" >
                        <div class="our_bots">
                            {{ post.title }}
                        </div>
                        <div class="bot_info_1_text">
                            <div class="bot_info_1_text_text">{{ post.text|linebreaksbr }}</div>
                            <a href="{{post.boturl}}" style="text-decoration: none;">
                                <div class="bot_info_1_text_button">просмотреть бота</div>
                            </a>
                        </div>
                        <div class="pay">
                            <form method="POST" class="order-form" style="display:flex; flex-direction: column;">
                                {% csrf_token %}
                                
                                <input type="text" class="input_style" name="tgid" value="" placeholder="Телеграм логин в формате @first"  maxlength="200" id="id_tgid" required />
                                <!-- <input type="text" id='dops' name='Order'  class="input_style" placeholder="Суть вашего заказа" > -->
                                <!-- {{ form.tgid}} -->
                                <!-- <input type="text" id='tgid' name="Order" class="input_style" placeholder="Телеграм логин в формате @first"> -->
                                
                                <textarea name="dops"class="input_style_1"  cols="40" placeholder="Каких ботов вы хотите? Нужны ли дополнения? если да, то какие" rows="10" required id="id_dops"></textarea>
                                <button type="submit" class="button_input_style">
                                    
                                    
                                    Сделать заказ
                                    
                                </button>
                            </form>
                            
                        </div>
            </div>
        </div>
        
    </div>
{% endblock %}