{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
            
            <div class="main_bots">
                <div class="container">
                    <div class="our_bots">
                        Наши боты
                    </div>      
                <div class="list_of_bots">
                     {% for post in posts %}
                        <a href="{% url 'post_detail' pk=post.pk %}" class="bot_link">
                    
                            <div class="bot">
                                <div class="bot_name">
                                    {{ post.title }}
                                </div>
                                <div class="bot_text">
                                    <p>{{ post.maintext|linebreaksbr }}</p>
                                    <img src="{{ MEDIA_URL }}{{ post.image}}"  alt="robot_seller" style="width: 60%;">  
                                </div>
                            </div>
                        </a>
                    {% endfor %}

                            
                </div>
                <div class="container">
                    <div class="grid">
                        <div class="about_sell" style="grid-column-start: 1; grid-column-end: 2;
                        grid-row-start:1; grid-row-end: 3;" >
                            <a name="sell">
                                <div class="about_header" name="sell">
                                    Все о покупке бота
                                </div>
                            </a>
                            <div class="about_main">
                                -Сколько стоит бот?<br>
                                У каждого бота есть своя  уникальная цена, которая указана на его странице.<br>
                                <hr>
                                -Как осмотреть бота?<br>
                                Чтобы заказать бота, вы должны тщательно изучить все его функции, а затем решить, хотите ли вы дополнить его чем-нибудь или нет (обычное изменение в описании бота не считается за его изменение). На каждой странице с ботом есть ссылка на него, где в телеграме вы можете его осмотреть. <br><hr>
                                -Как заказать бота?<br>После того как вы все изучили и посмотрели, ознакомьтесь с формой заказа. В форме есть два поля, в первом укажите свой телеграм в формате @test, а во втором укажите ботов, которые вам присмотрелись, а также(при необходимости) нужны ли вам дополнения? Мы обязательно с вами свяжемся в ближайшее время<br><hr>
                                -Я не хочу чтобы у вас был доступ к моему боту.<br>
                                У нас его и не будет. Для этого впишите свой токен в текстовой файл.
                                На текстовый файл вы можете поставить пароль, чтобы у вас была гарантия недоступности токена для нас.
                            </div>
                        </div>
                        <div class="about_sell" style="grid-column-start:2; grid-column-end: 3;">
                            <a name="bot_take">
                                <div class="about_header">
                                    Получение бота
                                </div>
                            </a>
                            <div class="about_main">
                                После того, как все будет обговорено, вам будет отправлен файл с ботом. В двльнейшем вы сами можете поставить его на сервер или мы сделаем это за вас, за дополнительную плату. (она невысока - в месяц не более 150 рублей). В случае же неуплаты: мы просто снимаем бота и приостанавливаем сотрудничество до возмещения просроченной задолжности. В случае неуплаты в количестве двух раз, с вами будет прекращено сотрудничество. 
                            </div>
                        </div>
                        <div class="about_sell">
                            <a name="other">
                                <div class="about_header">
                                    Дополнительно
                                </div>
                            </a>
                            <div class="about_main">
                                Мы можем предоставить вам не только стандартных ботов, но и подстроить их лично под вас. Для этого заполните форму (о ней можете прочитать в блоке "Все о покупке бота"). После передачи бота вам, в дальнейшем мы не берём на себя обязательства редактировать его по вашим просьбам. Если вы хотите его дополнить, в обязательном порядке заполните форму, а затем мы свяжемся с вами для уточнения стоимости вашего заказа.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}